body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #e8dfc8;
}

* {
  font-family: Verdana, sans-serif;
}

/* Header */

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.div-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.div-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #655970;
  border-radius: 40px;
  border: 5px solid #837797;
  height: 40px;
  width: 300px;
}

.div-menu ul li:hover {
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #837797;
  border: 5px solid #655970;
}

.div-menu ul li a {
  font-family: Arial;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #ddd3ed;
}

.div-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-logo p {
  font-weight: 100;
  font-size: 25px;
  color: #5a5757;
}

#img-logo {
  width: 60px;
  height: 60px;
  background-color: #e2e3f1;
  border: 5px solid #c8b99a;
  border-radius: 60px;
  padding: 15px;
}

/* Conteúdo principal */

.primeira_secao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.div_bem_vindo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  background-color: #f7f0f0e5;
}

.div_bem_vindo h2 {
  font-size: 30px;
}
.div_bem_vindo p {
  font-size: 20px;
}

/* Grid de músicas */

.grid_musicas {
  display: grid;
  grid-template-columns: repeat(6fr);
  grid-template-rows: repeat(2fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 80%;
}

.musica_01 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.musica_02 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.musica_03 {
  grid-column: 4/6;
  grid-row: 1/2;
  background-color: #5a5757;
}
.musica_04 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: #655970;
}

.musica_05 {
  grid-column: 3/6;
  grid-row: 2/3;
}

.div_musica {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #655970;
  border: 5px solid rgb(247, 243, 243);
  border-radius: 30px;
}

.div_musica div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.div_musica img {
  width: 200px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
}

.div_musica h2 {
  font-family: Impact, fantasy;
  text-align: center;
  font-weight: lighter;
  color: white;
}

.div_musica p {
  font-family:
    Courier New,
    monospace;
  font-size: 15px;
  text-align: justify;
  color: white;
  width: 70%;
}

/* Seção estilos de música */

.div_estilos_musica {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  background-color: #f7f0f0e5;
}

.div_estilos_musica div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.div_estilos_musica div p {
  width: 100px;
  padding: 5px;
  color: white;
  background-color: #837797;
  border-radius: 20px;
  border: 5px solid #a79db1
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 300px;
  background-color: #837797;
  text-align: center;
}

/* Lógica carrossel */

.section_imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid #332fd0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.carrossel_de_imagens {
  width: 600px;
  overflow: hidden; 
  position: relative; 
}

.carrossel_trilho {
  display: flex; 
  transition: transform 0.5s ease-in-out; 
  width: 100%;
}

.carrossel_trilho img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 30px;
}

#anterior {
  cursor: pointer;
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

#proximo {
  cursor: pointer;
  width: 30px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

#anterior:hover,
#proximo:hover {
  transform: scale(1.5);
}

